
body {
    background-color: #1f203a;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

h1, ul li a {
    color: white;
    font-size: 25px;
}

hero {
    background-color: #fceb21;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 430px;
}

hero p {
    line-height: 2;
    font-size: 25px;
    text-align: center;
    padding: 70px 100px 140px 25px;
}

.heroImg{
    background: url(../images/tay.jpg);
    height: 530px;
    width: 450px;
    margin: 0 auto;
    background-size: cover;
    position: relative;
    top: 50px;
    left: 40px;
}

hero h2 {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 125px;
    color: white;
    position: relative;
    top: 400px;
    left: 90px;
}

.mainSection {
    padding: 350px 250px 200px 270px;
}

.mainSection h2 {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 100px;
    color: white;
}

.mainSection h3 {
    font-size: 35px;
    color: white;
    font-family: 'Reggae One', cursive;
    margin: 10px 0;
}

.mainSection p {
    font-size: 20px;
    font-family: 'Reggae One', cursive;
    color: white;
    margin: 40px 0;
    line-height: 35px;
}

.mainSection span {
    text-decoration: underline;
}

.btn {
    height: 60px;
    width: 180px;
    background-color: #fceb21;
    color: #1f203a;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    font-weight: 800;
}

.btn a {
    text-decoration: none;
}
