
body {
    background-color: #1f203a;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

h1, ul li a {
    color: white;
    font-size: 25px;
}

hero {
    background-color: #fceb21;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 430px;
}

hero p {
    line-height: 2;
    font-size: 25px;
    text-align: center;
    padding: 70px 100px 140px 25px;
}

.heroImg{
    background: url(../images/tay.jpg);
    height: 530px;
    width: 450px;
    margin: 0 auto;
    background-size: cover;
    position: relative;
    top: 50px;
    left: 40px;
}

hero h2 {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 125px;
    color: white;
    position: relative;
    top: 400px;
    left: 90px;
}

.mainSection {
    padding: 350px 250px 200px 270px;
}

.mainSection h2 {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 100px;
    color: white;
}

.mainSection h3 {
    font-size: 35px;
    color: white;
    font-family: 'Reggae One', cursive;
    margin: 10px 0;
}

.mainSection p {
    font-size: 20px;
    font-family: 'Reggae One', cursive;
    color: white;
    margin: 40px 0;
    line-height: 35px;
    padding-bottom: 20px;
}

.mainSection span {
    /* text-decoration: underline; */
    position: relative;
}

.mainSection span::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -3px;
    border-width: 0 0 1px;
    border-style: solid;
}

.btn {
    background: #fceb21;
    color: #1f203a;
    text-decoration: none;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 100px;
}

.gallery {
    height: 1100px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 150px;
}

.gallery div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box1 {
    background: url(../images/album1.png);
}
.box2 {
    background: url(../images/album2.png);
}
.box3 {
    background: url(../images/album3.png);
}
.box4 {
    background: url(../images/album4.png);
}
.box5 {
    background: url(../images/album5.png);
}
.box6 {
    background: url(../images/album6.png);
}
.box7 {
    background: url(../images/album7.png);
}
.box8 {
    background: url(../images/album8.png);
}
.box9 {
    background: url(../images/album9.png);
}

.credits {
    margin: 50px 0;
}

.credits h2, .credits div {
    display: flex;
    justify-content: center;
    align-content: center;
}

.credits h2 {
    color: white;
    font-size: 20px;
}

.credits span{
    position: relative;
}

.credits span::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -3px;
    border-width: 0 0 1px;
    border-style: solid;
}

.credits .btn {
    margin: 30px 0;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #fceb21;
    margin: 0 150px;
    padding-top: 100px;
}

.nameForm input, .mail input, textarea {
    width: 400px;
    border: none;
    padding: 12px;
    border-bottom: 2px solid #1f203a;
    background: #fceb21;
    font-size: 16px;
    margin-top: 25px;
}

.contact .btn {
    border: 2px solid #1f203a;
    font-size: 18px;
    padding: 15px 45px;
}

.contactRight h2{
    font-size: 45px;
    padding-left: 10px;
    font-family: 'Fredoka One', cursive;
    color: #1f203a;
}

.fontawesome i{
    font-size: 30px;
    margin: 25px;
    color: #1f203a;
    padding-bottom: 70px;
}

.contactRight h3 {
    font-size: 35px;
    color: #1f203a;
    padding: 10px 42px;
}

.sampleText p, footer p {
    color: white;
    text-align: center;
    padding: 70px 200px;
}

footer {
    background: grey;
}
